<html><head>
	<style id="stndz-style"></style>
	<!-- Standard Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

	<!-- Site Properties -->
	<style id="stndz-style"></style>
	<!-- Standard Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">

	<!-- Site Properties -->
	<title>{{ title }}</title>
	<link rel="stylesheet" type="text/css" href="/css/semanticui/reset.css">
	<link rel="stylesheet" type="text/css" href="/css/semanticui/site.css">
	<link rel="stylesheet" type="text/css" href="/css/semanticui/container.css">
	<link rel="stylesheet" type="text/css" href="/css/semanticui/grid.css">
	<link rel="stylesheet" type="text/css" href="/css/semanticui/header.css">
	<link rel="stylesheet" type="text/css" href="/css/semanticui/image.css">
	<link rel="stylesheet" type="text/css" href="/css/semanticui/menu.css">
	<link rel="stylesheet" type="text/css" href="/css/semanticui/divider.css">
	<link rel="stylesheet" type="text/css" href="/css/semanticui/segment.css">
	<link rel="stylesheet" type="text/css" href="/css/semanticui/form.css">
	<link rel="stylesheet" type="text/css" href="/css/semanticui/input.css">
	<link rel="stylesheet" type="text/css" href="/css/semanticui/button.css">
	<link rel="stylesheet" type="text/css" href="/css/semanticui/message.css">
	<link rel="stylesheet" type="text/css" href="/css/semanticui/icon.css">
	<link rel="stylesheet" type="text/css" href="/css/semanticui/table.css">
	<link rel="stylesheet" type="text/css" href="/css/semanticui/list.css">
	<style type="text/css">
		body {
			background-color: #DADADA;
		}
		body > .grid {
			height: 100%;
		}
		.column {
			max-width: 450px;
		}
		.ui.table td{
			padding: .3857em .7857em;
		}
		div {
			border-radius: 0px !important;
		}
		input {
			border-radius: 0px !important;
			color: white !important;
			background-color: #00000052 !important;
		}
		.attached.header {
			text-align: center;
		}
	</style>
	
<body style="background-color: black;">
	<div class="ui middle aligned center aligned grid">
		<div class="ui container" style="width: 1100px; max-width 80%;">
		<div class="ui inverted middle aligned center aligned top fixed grid menu">
			<a href="/" class="item">Home</a>
			<a href="/rules" class="item">Rules</a>
			<a href="/boards/view" class="item">Boards</a>
			{{#if logged_in}}
			<a class="right item" style="padding: 0em;">
				<a class="item">{{ username }}</a>
				<a href="/users/login" class="item">Sign-out</a>
			</a>
			{{else}}
			<a href="/users/login" class="right item">Sign-in</a>
			{{/if}}
		</div>
			<form class="ui inverted middle aligned center aligned large form" style="margin-top: 8em; margin-left: 5em; margin-right: 5em;">
		{{{ body }}}
			</form>
		</div>
	</div>
	<script src="/js/jquery/1.8.3/jquery.min.js"></script>
</body></html>