	<div class="ui inverted segment" style="border-radius: 0px; margin-top: 5em;">
		<table class="ui center inverted table" style="border-radius: 0px;">
			<thead style="text-align: center;">
				<tr>
					<th>Name</th>
					<th>Shortname</th>
					<th>Description</th>
					<th>Image header</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><input style="border-radius: 0px; color: white; background: #00000052;" type="text"></td>
					<td><input style="border-radius: 0px; color: white; background: #00000052;" type="text"></td>
					<td><input style="border-radius: 0px; color: white; background: #00000052;" type="text"></td>
					<td><input style="border-radius: 0px; color: white; background: #00000052;" type="text"></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td><div id="submit_add" class="ui inverted right floated button" style="text-align: center; border-radius: 0px;">Submit</div></td>
				</tr>
			</tbody>
		</table>
	</div>