
{{#if logged_in}}
<div class="ui inverted segment" style="border-radius: 0px; margin-top: 5em;">
	<table class="ui center inverted table" style="border-radius: 0px; margin-bottom: 0em;">
		<thead style="text-align: center;">
			<tr>
				<th>Name</th>
				<th>Shortname</th>
				<th>Image header</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><input id="name" style="border-radius: 0px; color: white; background: #00000052;" type="text"></td>
				<td><span style="font-size: 24px;">/</span><input id="shortname" style="border-radius: 0px; color: white; background: #00000052; width: calc( 100% - 31px ) !important;" type="text"><span style="font-size: 24px;">/</span></td>
				<td><input id="imageheader" style="border-radius: 0px; color: white; background: #00000052;" type="text"></td>
			</tr>
		</tbody>
	</table>
	<div class="field" style="padding: 1em; background-color: #333333;">
		<label style="text-align: center;">Description</label>
		<textarea id="description" class="inverted" style="background: #00000052; color: white; margin-top: 0px; margin-bottom: 0px; height: 112px; border-radius: 0px;"></textarea>
		<div id="submit_add" class="ui inverted right button" style="text-align: center; border-radius: 0px; margin: 1em; margin-left: calc( 50% - 43px );">Submit</div>
	</div>
</div>
<div id="error_server_message" class="ui red hidden message"><i class="close icon"></i><div class="header">Error</div><p></p></div>
<div id="error_shortname_length" class="ui red hidden message"><i class="close icon"></i><div class="header">Error</div><p>Shortname must contain between 1 and 5 characters</p></div>
<div id="error_shortname_alphanumeric" class="ui red hidden message"><i class="close icon"></i><div class="header">Error</div><p>Shortname must be alphanumeric (0-9, a-z, and A-Z)</p></div>
<div id="error_name_length" class="ui red hidden message"><i class="close icon"></i><div class="header">Error</div><p>Name must not contain more than 256 characters</p></div>
<div id="error_imageheader_length" class="ui red hidden message"><i class="close icon"></i><div class="header">Error</div><p>Imageheader link must not contain more than 200 characters</p></div>
<div id="error_imageheader_url" class="ui red hidden message"><i class="close icon"></i><div class="header">Error</div><p>the imageheader you provided is not a URL.</p></div>



<script>
	$(document).ready(function(){

		function isURL(str) {
			var pattern = new RegExp('^(https?:\\/\\/)?'+ // protocol
				'((([a-z\\d]([a-z\\d-]*[a-z\\d])*)\\.?)+[a-z]{2,}|'+ // domain name
				'((\\d{1,3}\\.){3}\\d{1,3}))'+ // OR ip (v4) address
				'(\\:\\d+)?(\\/[-a-z\\d%_.~+]*)*'+ // port and path
				'(\\?[;&a-z\\d%_.~+=-]*)?'+ // query string
				'(\\#[-a-z\\d_]*)?$','i'); // fragment locator

			return pattern.test(str);
		}

		$('.message .close').on('click', function() {
			$(this).parent().addClass('hidden');
		});

		$('#submit_add').click(function(){
			let data_to_post = {
				description: "",
				imageheader: "",
				name: "",
				shortname: ""
			};
			data_to_post.description = $('#description').val();
			data_to_post.imageheader = $('#imageheader').val();
			data_to_post.name = $('#name').val();
			data_to_post.shortname = $('#shortname').val();
			console.log('clicked submit');
			if(data_to_post.shortname.length < 6 && data_to_post.shortname.length > 0){

				if( /[^a-zA-Z0-9]/.test( data_to_post.shortname ) ) {
					$('#error_shortname_alphanumeric').removeClass('hidden');
				} else {
					if(data_to_post.name.length <= 256){
						if(data_to_post.imageheader.length <= 200){
							if(isURL(data_to_post.imageheader) || data_to_post.imageheader == ""){

								$.post('/api/boards', data_to_post, function(response){
									console.log('api/boards response: ' + response);

									let receivedObject = JSON.parse(response);
									if('success' in receivedObject){
										$('#error_server_message').removeClass('hidden')
										$('#error_server_message p').text(receivedObject.message);
										console.log(receivedObject.message);
									} else {
										if (receivedObject.boards.length == 0) {
											$.post('/api/boards/add', data_to_post, function(response){
												let receivedObject = JSON.parse(response);
												console.log('/api/boards/add response: ' + response);
												
												if('success' in receivedObject){
													$('#error_server_message').removeClass('hidden')
													$('#error_server_message p').text(receivedObject.message);
													console.log(receivedObject.message);
												} 

											});
										} else {
										$('#error_server_message').removeClass('hidden')
										$('#error_server_message p').text('There already exists a board by that name');

										}
									}
								});
							} else {
								$('#error_imageheader_url').removeClass('hidden');
							}
						} else {
							$('#error_imageheader_length').removeClass('hidden');
						}
					} else {
						$('#error_name_length').removeClass('hidden');
					}
				}
			} else {
				$('#error_shortname_length').removeClass('hidden');
			}
		});
	});
</script>
{{else}}
<h5 class="ui center red inverted top attached header" style="border-radius: 0px;"></h5>
<div class="ui center inverted attached segment" style="border-radius: 0px;">
	<p>
		Login to create a board.
		<a id="signup" href="/users/login" class="ui fluid large red submit button" style="border-radius: 0px; margin-top: 1em; ">Login here</a>
	</p>
</div>
{{/if}}