
{{#if logged_in}}
<div class="ui inverted segment" style="border-radius: 0px; margin-top: 5em;">
	<table class="ui center inverted table" style="border-radius: 0px; margin-bottom: 0em;">
		<thead style="text-align: center;">
			<tr>
				<th>Name</th>
				<th>Shortname</th>
				<th>Image header</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><input style="border-radius: 0px; color: white; background: #00000052;" type="text"></td>
				<td><span style="font-size: 24px;">/</span><input style="border-radius: 0px; color: white; background: #00000052; width: calc( 100% - 18px ) !important;" type="text"><span style="font-size: 24px;">/</span></td>
				<td><input style="border-radius: 0px; color: white; background: #00000052;" type="text"></td>
			</tr>
		</tbody>
	</table>
	<div class="field" style="padding: 1em; background-color: #333333;">
		<label style="text-align: center;">Description</label>
		<textarea class="inverted" style="background: #00000052; color: white; margin-top: 0px; margin-bottom: 0px; height: 112px; border-radius: 0px;"></textarea>
		<div id="submit_add" class="ui inverted right button" style="text-align: center; border-radius: 0px; margin: 1em; margin-left: calc( 50% - 43px );">Submit</div>
	</div>
</div>
{{else}}
<h5 class="ui center red inverted top attached header" style="border-radius: 0px;"></h5>
<div class="ui center inverted attached segment" style="border-radius: 0px;">
	<p>
		You cannot create a board if you're not logged in.
		<a id="signup" href="/users/login" class="ui fluid large red submit button" style="border-radius: 0px; margin-top: 1em; ">Login here</a>
	</p>
</div>
{{/if}}