	<h5 class="ui center red inverted top attached header" style="border-radius: 0px; text-align: center;"> Board Announcement </h5>
	<div class="ui center inverted attached segment" style="border-radius: 0px;">
		<p>
			bla bla bla this is the board announcement...
		</p>
	</div>
	<div class="ui center inverted attached segment" style="border-radius: 0px;">
		<table class="ui center inverted table" style="border-radius: 0px;">
			<tr>
				<th>Subject</th>
				<td><input type="text"></td>
			</tr>
			<tr>
				<th>Description</th>
				<td><textarea></td>
			</tr>
			<tr>
				<td>Images</td>
				<th></th>
			</tr>
			<tr>
				<td>Submit</td>
				<th><div id="logout" class="ui fluid large red submit button" style="border-radius: 0px;">Log Out</div></th>
			</tr>
		</table>
	</div>
