	<h5 class="ui center red inverted top attached header" style="border-radius: 0px;"> Board sticky </h5>
	<div class="ui center inverted attached segment" style="border-radius: 0px;">
		<p>
			Welcome to the coolest imageboard off the internet.  Just follow
			the guidelines for creating your own board and, of course, follow the rules
			of the internet.  If the creator of the board also has rules, follow those, too.
			
			<br><br>There exists mods sitewide if board mods don't follow site rules.  Otherwise, 
			each board has its own respective mod.  The order of command is: Site mods are gods, follow
			them first, board mods are next in chain of command.  If you follow both, then you're golden,
			ponyboy.
		</p>
	</div>
	
	<div class="ui inverted segment" style="border-radius: 0px; margin-top: 5em;">
		<table class="ui center inverted celled table" style="border-radius: 0px;">
			<thead>
				<tr>
					<th>Boards</th>
					<th>Posts</th>
					<th>Replies</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>First</td>
					<td>Cell</td>
					<td>Cell</td>
				</tr>
				<tr>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
				</tr>
				<tr>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div class="ui inverted message" style="text-align: center">
		<a href="/boards/add" style="color: red;">Create a new board</a>
	</div>