	<h5 class="ui center red inverted top attached header" style="border-radius: 0px; text-align: center;"></h5>
	<div class="ui center inverted attached segment" style="border-radius: 0px;">
		<p>
			Welcome to the coolest messaging board off the internet.  Just follow
			the guidelines for creating your own board and, of course, follow the rules
			of the internet.  If the creator of the board also has rules, follow those, too.
			
			<br><br>There are both sitewide moderators as well as board specific moderators. 
			Follow the rules of the site first and the specific boards second.  If you don't,
			you'll be banned.
		</p>
	</div>