<h2 class="ui red inverted top attached header" style="margin-top: 3em; border-radius: 0px ;text-align: center;">
	<div class="content" style="text-align: center; border-radius: 0px;">
		Admin Login
	</div>
</h2>
<div class="ui inverted attached segment" style="border-radius: 0px;">
	<div class="field">
		<div class="ui left inverted icon input">
			<i class="user inverted icon"></i>
			<input type="text" name="email" placeholder="E-mail address" style="border-radius: 0px; background-color: transparent; border: 1px solid #4e4e4e">
		</div>
	</div>
	<div class="field">
		<div class="ui left inverted icon input">
			<i class="lock inverted icon"></i>
			<input type="password" name="password" placeholder="Password" style="border-radius: 0px; background-color: transparent; border: 1px solid #4e4e4e;">
		</div>
	</div>
	<div class="ui fluid large red submit button" style="border-radius: 0px;">Login</div>
</div>
<div class="ui error message"></div>
<div class="ui inverted message" style="border-radius: 0px; text-align: center; color: red;">
	<a href="login/signup" style="color: red;">Sign Up</a>
</div>